@import 'tailwindcss';

@theme {
  --color-main: #d2f3ed;
  --color-second: #1f695b;
  --color-third: #5cdfbe;
  --color-accent: #6fcf97;
  --color-text: #000000;
}

.dark {
  --color-main: #091413;
  --color-second: #285a48;
  --color-third: #408a71;
  --color-accent: #b0e4cc;
  --color-text: #f4f7f6;
}

img[src^='/icons/'] {
  filter: brightness(0) saturate(100%) opacity(40%);
}

.dark img[src^='/icons/'] {
  filter: brightness(0) saturate(100%) invert(1) opacity(60%);
}

.dark .footer-logo {
  filter: brightness(0) saturate(100%) invert(1);
}
